/* Importação de fonte */
@import url('https://fonts.cdnfonts.com/css/gotham-6');

/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  resize: none;
  outline: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* Normalização CSS */
/* ... (se você desejar manter uma normalização CSS) */

/* Estilos para links */
a {
  color: black;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* Tipografia */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Estilos do cabeçalho */
.header {
  width: 100%;
  height: 80px;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.csi-image {
  width: 200px;
}

.unima-image {
  width: 200px;
}

.barra {
  display: none;
}

@media (max-width: 768px){
    .logo-container {
        flex-direction: column;
    }
    .csi-image, .unima-image {
        width: 130px;
    }
}

/* Banner */
.banner {
    background-image: url("../media/banner1920x1008.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(80vh - 80px);
    position: relative;
}
.banner .text-banner {
    color: #fff;
    position: absolute;
    top:45%;
    left: 5%;
}
.banner .text-banner h1 {
  width: 50%;
}
.banner .text-banner h6 {
  margin-top: 10px;
  width: 70%;
}


@media (max-width: 768px){
    .banner {
        background-image: url("../media/banner576.png");
    }
    .banner .text-banner h1 {
        font-size: 1.2rem;
        margin: 0;
    }
}
/* Itens */
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
  width: 100%;
}

.item {
  background-color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 1rem;
  margin: 5px;
}

.item a {
  color: #157792;
  font-weight: bolder;
}
@media (max-width: 768px){
    .item a{
        font-size: 0.7rem;
    }
}
@media (max-width: 568px){
    .item a{
        font-size: 0.6rem;
    }
}
/* Notícias */
.news-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.news-container > h1 {
    font-size: 1.7rem;
} 
.news {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.news-image {
  max-width: 300px;
  width: 95%;
  margin-right: 20px;
}

.news-image img {
  width: 100%;
  height: 180px;
  max-width: 100%;
}

.news-content h2 {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.news-content h3 {
  margin: 0 0 1rem 0;
  width: 61%;
  font-size: 1.4rem;
}

.news-content p {
  margin: 0 0 1rem 0;
}
@media (max-width: 768px){
  .news {
    flex-direction: column;
  }
  .news-image {
    max-width: 400px;
    width: 90%;
    margin-right: 0;
  }
  .news-content {
    width: 90%;
    height: auto;
  }
  .news-content h2, h3, p, a {
    margin-top: 10px;
  }
  .news-content h3 {
    width: 95%;
  }
}

/* Rodapé */
.footer-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-container {
  background-color: #ff0673;
  max-width: 650px;
  width: 80%;
  height: auto;
  text-align: center;
  border-radius: 30px;
  z-index: 10;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-container h2 {
  font-size: 1rem;
  padding: 15px;  
}

.contact-container input[type='email'] {
  border: none;
  width: 70%;
  height: 30px;
  border-radius: 30px;
}
.contact-container input[type='email']::placeholder {
  padding: 15px;
}
.contact-container input[type="submit"] {
  border:none;
  width: 35%;
  margin: 10px;
  height: 30px;
  border-radius: 30px;
}
.blue {
  width:100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  background: #4267ff;
}
@media (max-width: 768px){
  .contact-container h2 {
    font-size: 0.8rem;
  }
}
.quiz-container {
  background-color: #ff0673;
  border-radius: 1rem;
  height: 22rem;
  width: 100%;
  margin: 0rem auto 0 auto;
  max-width: 22rem;
  max-height: 22rem;
  display: none;
}

.quiz-container h2 {
  color: white;
  padding-top: 2.5rem;
  font-size: 1.5rem;
}

.quiz-container span {
  padding-top: 2rem;
  padding-bottom: 0.4rem;
  display: block;
  color: white;
  font-size: 0.8rem;
}

.quiz-container .user-input {
  width: 80%;
  margin: 0 2rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.quiz-button {
  margin: 2rem auto auto auto;
  display: block;
  width: 20%;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #002bd8;
  color: white;
}

.quiz-button:hover {
  cursor: pointer;
}

.news-container h1 {
  margin: 1rem 0 2rem 0;
  color: #fd3463;
  text-align: center;
}

/* Media Queries */

@media (min-width: 2600px) {
  .csi-logo .csi-image {
    width: 450px;
  }

  .banner {
    height: 70rem;
  }

  .banner .text-banner {
    padding-top: 20rem;
    padding-left: 10rem;
  }

  .banner .text-banner h1 {
    font-size: 6rem;
    width: 30%;
  }

  .banner .text-banner p {
    font-size: 2.5rem;
  }

  .items {
    gap: 4rem;
  }

  .item a {
    font-size: 3rem;
  }

  .news-container {
    margin-left: 10rem;
  }

  .news {
    gap: 4rem;
  }

  .news-content h2 {
    font-size: 3rem;
  }

  .news-content h3 {
    font-size: 3rem;
  }

  .news-content p,
  a {
    font-size: 2.5rem;
  }

  .news:last-child {
    margin-bottom: 10rem;
  }

  .news-image {
    max-width: 450px;
  }

  .contact-container {
    background-color: #fd3463;
    margin: -1rem auto 0 auto;
    padding: 1rem;
    width: 50%;
  }

  .contact-container h2 {
    margin-top: -2.8rem;
    font-size: 3rem;
  }

  .contact-container input[type='email'] {
    width: 80%;
    margin: 1rem auto;
    font-size: 2rem;
  }

  .contact-container input[type='submit'] {
    margin: 0rem auto 0 auto;
    font-size: 2rem;
    width: auto;
    padding: 0.5rem 2rem 2.9rem 2rem;
  }
}

/* Media Queries adicionais podem ser adicionadas conforme necessário */
